@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* variables en css */
:root {
  --color-primario: #dcb78c; /*  rgba(9, 30, 34, 0.678);*/
  --color-secundario: #573342; /* rgba(229, 148, 0, 0.9);*/
  --hamburger-size: 60px;
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto, sans-serif;
  line-height: 1.7rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  /* padding: 0 3rem; */
}

#showcase {
  background: var(--color-primario);
  color: #fff;
  height: 100vh;
  position: relative;
}

#showcase::before {
  content: "";
  background: url(./images/media.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#showcase h1 {
  font-size: 4rem;
  background: linear-gradient(to left, red, yellow);
  /* truco poner fondo a texto */
  background-clip: text;
  color: transparent;
  text-align: center;
}

#showcase p {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  margin-top: 1rem;
  background-color: var(--color-primario);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  transition: opacity 1s ease-in-out;
}

.btn:hover {
  opacity: 0.7;
}

a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px;
}

img {
  width: 100%;
}

.text-primary {
  color: #573342;
}

.menu-container {
  display: none; /* oculta el menu de hamburguesa*/
  position: fixed;
  top: 0;
  right: var(--hamburger-size);
  z-index: 1;
}

.menu-container .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: var(--hamburger-size);
  height: var(--hamburger-size);
  cursor: pointer;
  opacity: 0;
}

/* contenedor para el icono del menu */
.menu-container .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: var(--hamburger-size);
  height: var(--hamburger-size);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: var(--color-secundario);
}

/* dibujar las líneas del menu */
.menu-container .hamburger > div {
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: relative;
  transition: all 0.4s ease;
}

.menu-container .hamburger > div::before,
.menu-container .hamburger > div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: -10px;
  background-color: inherit;
}

.menu-container .hamburger > div::after {
  top: 10px;
}

/* Animación del icono del menu */
.menu-container .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-container .toggler:checked + .hamburger > div::before,
.menu-container .toggler:checked + .hamburger > div::after {
  transform: rotate(90deg);
  top: 0;
}

.menu-container .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* CSS para la capa del menu */
.menu-container .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* visibility: hidden; */
  transform: translateX(100vw);
  transition: all 0.4s ease;
  background-color: #333;
}

.menu-container .menu ul li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.menu-container .menu ul li a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-container .menu ul li a:hover {
  color: var(--color-secundario);
}

.menu-container .toggler:checked ~ .menu {
  /* visibility: visible; */
  transform: translateX(0);
}

/* colores para reutilizar */
.bg-dark {
  background-color: #333;
  color: #fff;
}

.bg-light {
  background-color: #fff;
  color: #333;
}

.bg-primary {
  background-color: #f88844;
  color: #333;
}

.bg-secondary {
  background-color: #ffb88c;
  color: #333;
}

/* Navbar */
#top-menu {
  background-color: #333;
  color: #fff;
}

#top-menu a {
  color: #fff;
}

#top-menu h1 {
  margin-left: 10px;
}

#top-menu .top-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-menu .top-menu-container ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

#top-menu .top-menu-container ul a {
  display: inline-block;
  padding: 20px;
}

#top-menu .top-menu-container ul a:hover {
  background-color: #444;
  color: #f88844;
}

#top-menu .top-menu-container ul a.active {
  border-bottom: 4px solid #f88844;
}

/* Showcase */
#showcase {
  height: 30vh;
  background: url("./images/media.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#showcase .showcase-container {
  text-align: center;
}

#showcase .showcase-container h2 {
  font-size: 2em;
}

#showcase .showcase-container p {
  font-size: 1.5em;
  padding: 0 20px;
}

/* Seccion Info */
#info {
  display: flex;
  min-height: 30vh;
}

#info .info-content {
  background-color: #d98c7d;
  color: #fff;
  flex: 1 0 0%;
  /* flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 0%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Section Features */
#features {
  display: flex;
}

#features .box {
  padding: 30px;
  text-align: center;
}

#features .box i {
  font-size: 5rem;
  /* Los iconos se tratan como fuentes de texto */
  margin-bottom: 1rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
  height: 300px;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.gallery-item img {
  width: 100%;
  object-fit: contain;
  flex: 1;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
}

.gallery-item p {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}

/* Main-Footer */
#main-footer {
  text-align: center;
  padding: 20px;
}

/* estilo mobil */
@media screen and (max-width: 768px) {
  #top-menu {
    display: none;
  }
  .menu-container {
    display: block; /* muestra el menu de hamburguesa*/
  }
  #showcase {
    height: 100vh;
  }

  #info .info-img {
    /* display: none */
    flex: 0;
  }

  #features {
    flex-direction: column;
  }

  #about-info .about-info-right {
    flex: 0;
  }

  #testimonial .opinions {
    flex-direction: column;
    gap: 10px;
  }
}

.colores {
  .color1 {
    color: #573342;
  }
  .color2 {
    color: #744352;
  }
  .color3 {
    color: #a26067;
  }
  .color4 {
    color: #d98c7d;
  }
  .color5 {
    color: #dcb78c;
  }
}
